.section {
  padding: 0.9rem;
}

.section-support-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

.section-support-button box-icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--color-white);
}

.section-support-button:hover box-icon {
  fill: var(--color-yellow);
}
